@media (max-width: 1200px) {
  .conteiner {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .conteiner {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .conteiner {
    max-width: none;
  }
}


.child {
  background-color: brown;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 2px solid black;
  /* flex: 1; */
}

.father {
  display: flex;
  
}

.child_0 {
  background-color: yellow;
  flex: 1;
  position: absolute;
  /* top: 100px; */
  /* right: 100px; */
}
.child_1 {
  flex: 1;
  position: sticky;
  /* top: 100px; */
  /* right: 100px; */
}
.child_2 {
  flex: 1;
}
.child_3 {
  flex: 1;
}





