* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


/* ========================================================== */


body {
    padding: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.block {
    border: 3px solid #000;
    height: 1800px;
    max-width: 400px;
    margin: 0px auto;
    position: relative;
}

.block div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.block__1 {
    background-color: #ece89d;
    /* position: relative; */
    /* z-index: 2; */
}



.block__2 {
    background-color: aquamarine;
    /* устанавливает тип позиционирования элемента относительно других элементов или окна браузера (static - по умолчанию) */
    /* position: static; */
    /* relative положение элем устанавливается относительно его изначального положения в коде */
    position: relative;
    /* left: 50px;
    top: 60px; */
    /* z-index: 1; */

    /* вырывается из верстки, и "зависает в воздухе" */
    /* чтобы позиционировался к родительскому. у родительского пишем тоже position: absolute;  */
    /* position: absolute;
    top: 20px;
    left: 30px;
    width: 100%; */

    /* fixed вырывает блок из потока(в отличии от absolute фиксируется по окну браузера) */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    /* sticky */
    position: sticky;
    top: 0;
    z-index: 1;
}



.block__3 {
    background-color: blue;
    color: #fff;
    position: relative;
    z-index: 0;
}





